<div class="container">
  <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
  <div *ngIf="!isLoading">
    <div class="title">
        <img src="assets/img/cloud.png" width="7%" alt="Cloudiefy" />
    </div>
    <div class="container">
      <form [formGroup]="weatherForm">
        <mat-form-field>
          <input matInput placeholder="Location" formControlName="location">
          <mat-error *ngIf="location.hasError('required')">
            Location is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          width="12%">
          <mat-select
            (selectionChange)="onTypeChange($event)"
            placeholder="Type"
            formControlName="type">
            <mat-option value="c">Celcius</mat-option>
            <mat-option value="f">Farenheit</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="go()">Go!</button>
      </form>
    </div>
    <mat-tab-group>
      <mat-tab label="Current">
        <mat-card *ngIf="weather && !isLoading">
          <mat-card-content>
            <p>
              {{ current.condition.text }}
            </p>
            <img
              [src]="current.condition.icon"
              alt="Cloudiefy icon">
            <h2 *ngIf="type.value === 'c'">{{ current.temp_c }} C</h2>
            <h2 *ngIf="type.value === 'f'">{{ current.temp_f }} F</h2>          
            <p>
              Feels like:
              <strong *ngIf="type.value === 'c'">
                {{ current.feelslike_c }} C
              </strong>
              <strong *ngIf="type.value === 'f'">
                {{ current.feelslike_f }} F
              </strong>
            </p>
            <p>
              Humidity:
              <strong>
                {{ current.humidity }} %
              </strong>
            </p>
            <p>
              Country: 
              <strong>
                {{ weather.location.country }}
              </strong>
            </p>
            <p>
              <strong>
                {{ weather.location.localtime }}
              </strong>
            </p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab 
        label="Next days">
        <mat-card *ngIf="extendedWeather && !isLoading">
          <mat-grid-list cols="5" rowHeight="1:1">
            <mat-grid-tile *ngFor="let day of forecastDay; let i = index;">
              <mat-card-content>
                  <p>
                    {{ day.condition.text }}
                  </p>
                  <img
                    [src]="day.condition.icon"
                    alt="Cloudiefy icon">
                  <h2 *ngIf="type.value === 'c'">{{ day.avgtemp_c }} C</h2>
                  <h2 *ngIf="type.value === 'f'">{{ day.avgtemp_f }} F</h2>
                  <p>
                    Humidity:
                    <strong>
                      {{ day.avghumidity }} %
                    </strong>
                  </p>
                  <p>
                    Country: 
                    <strong>
                      {{ extendedWeather.location.country }}
                    </strong>
                  </p>
                  <p>
                    <strong>
                      {{ currentDate[i] }}
                    </strong>
                  </p>
                </mat-card-content>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
